* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(45deg, #7f7fd5, #86a8e7, #91eae4);
  background-repeat: no-repeat;
  min-height: 100vh;
  min-width: 100vh;
}

main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  padding-top: 150px;
}

.contact {
  background: rgb(255, 248, 220, 0.7);
  height: 320px;
  max-width: 260px;
  padding: 2rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shop {
  background: rgb(255, 248, 220, 0.7);
  height: 320px;
  max-width: 260px;
  padding: 2rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about {
  background: rgb(255, 248, 220, 0.7);
  height: 320px;
  max-width: 260px;
  padding: 2rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  margin: 10px;
  color: white;
}

.paragraphe {
  margin: 5px;
}

button {
  background: linear-gradient(to right, #7f7fd5, #86a8e7, #91eae4);
  color: white;
  font-size: 20px;
  border-radius: 15px;
  margin-top: 5px;
  height: 50px;
  width: 150px;
}

#middle {
  background: linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5);
}

@media screen and (max-width: 800px) {
  
   main {
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
    }
 
  .shop {
    margin: 20px;
  }
  
}
